<!DOCTYPE html>
<html lang="en">
<title>Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-dark-gray w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('main')}}" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home"></i></a>
    <a href="#galeria" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Galeria</a>
    <a href="#sobre" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Sobre</a>
    <a href="#agenda" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Agenda</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contato</a>
    <div class="w3-dropdown-hover w3-hide-small w3-right">
      <button class="w3-padding-large w3-button " title="More">Área Restrita <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Entrar</a>
        <a href="#" class="w3-bar-item w3-button">Cadastrar-se</a>
        <a href="#" class="w3-bar-item w3-button">Esqueci a senha</a>
      </div>
    </div>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-dark-gray w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#" class="w3-bar-item w3-button">Entrar</a>
  <a href="#" class="w3-bar-item w3-button">Cadastrar-se</a>
  <a href="#" class="w3-bar-item w3-button">Esqueci a senha</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px; background-color: black;">
  <div class="myLogo w3-display-container w3-center">
    <img  src="static/img.png" style="width:40%">    
  </div>
  <div class="myLogo w3-display-container w3-center">
    <img src="static/img.png.jpg" style="width:40%">
  </div>
  
  
  <!-- The Tour Section -->
  <div class="w3-black" id="sobre">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px; text-align: justify;">
      <h2 class="w3-wide w3-center">Sobre...</h2>
      <p class="w3-opacity w3-justify"><i>Lorem ipsum cras diam non habitasse purus pretium fermentum vehicula cursus nibh varius ipsum, nulla lorem tortor risus venenatis fringilla viverra phasellus lectus turpis enim. imperdiet rutrum commodo aptent quisque non dui elementum blandit, in aliquam sodales augue vivamus litora lectus adipiscing ipsum, adipiscing metus vel est euismod curabitur neque. praesent urna diam inceptos turpis aliquam mauris nunc ultrices at class tincidunt, ut nulla feugiat sollicitudin rutrum fermentum quisque torquent tellus erat molestie, purus dictumst turpis viverra curae elementum phasellus ultricies odio porta. nisi bibendum mauris sem volutpat commodo hac, faucibus quisque id elementum ultricies. </i></p><br>
      <p class="w3-opacity w3-center">"Lorem ipsum cras diam non habitasse purus pretium fermentum vehicula cursus nibh varius ipsum, nulla lorem tortor risus venenatis fringilla viverra phasellus lectus turpis enim. imperdiet rutrum commodo aptent quisque non dui elementum blandit, in aliquam sodales augue vivamus litora lectus adipiscing ipsum, adipiscing metus vel est euismod curabitur neque. praesent urna diam inceptos turpis aliquam mauris nunc ultrices at class tincidunt, ut nulla feugiat sollicitudin rutrum fermentum quisque torquent tellus erat molestie, purus dictumst turpis viverra curae elementum phasellus ultricies odio porta. nisi bibendum mauris sem volutpat commodo hac, faucibus quisque id elementum ultricies. "<br> Lorem ipsum</p><br>
    </div>
      <!-- The Tour Section -->
<div class="w3-black" id="agenda">
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px; text-align: justify;">
    <h2 class="w3-wide w3-center">Agenda</h2>
    <table class="w3-table-all w3-hoverable" style="color: black;">
      <thead>
        <tr class="w3-grey">
          <th>Hora</th>
          <th>Seg</th>
          <th>Ter</th>
          <th>Qua</th>
          <th>Qui</th>
          <th>Sex</th>
        </tr>
      </thead>
      <tr>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>


      
    </table>
    <p class="w3-opacity w3-justify">Lorem ipsum cras diam non habitasse purus pretium fermentum vehicula cursus nibh varius ipsum, nulla lorem tortor risus venenatis fringilla viverra phasellus lectus turpis enim. </p>

    
    
    </div>
  </div>
<!-- Automatic Slideshow Images -->
<h2 class="w3-wide w3-center" id="galeria">Galeria</h2><br>

<div class="mySlides w3-display-container w3-center">
  <img src="static/img.png" style="width:50%">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
 
  </div>
</div>
<div class="mySlides w3-display-container w3-center">
  <img src="static/img.png" style="width:50%">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
 
  </div>
</div>
<div class="mySlides w3-display-container w3-center">
  <img src="static/img.png" style="width:50%">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
 
  </div>
</div>







<br>
<h2 class="w3-wide w3-center" id="enquete">Enquete</h2><br>

<div class="w3-display-container w3-center">
  <a href="#"><img src="static/img.png" style="width:30%"></a>

</div>

<br><br><br>
<h2 class="w3-wide w3-center" id="enquete">Nosso Encontro On-Line</h2><br>

<div class="w3-display-container w3-center">
  <a href="#"><img src="static/img.png" style="width:20%"></a>

</div>





  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">Contato</h2>
    <p class="w3-opacity w3-center"><i>Fale conosco!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Salvador, BA<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +55 71 987888888<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: loremipsum@loremipsum.com<br>
      </div>
      <div class="w3-col m6">
        <form action="#" method="post"  target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Nome" required name="#">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="#">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Mensagem" required name="#">
          <button class="w3-button w3-black w3-section w3-right" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  
  
<!-- End Page Content -->
</div>

<!-- Image of location/map -->
<!--http://maps.googleapis.com/maps/api/staticmap?center=-12.931643, -38.419399
&zoom=11&size=250x250-->
<div class="w3-wide w3-center">
<a href="https://www.google.com/maps/place/S%C3%A3o+Marcos,+Salvador+-+BA,+41260-075/@-12.9316964,-38.4194772,382m/data=!3m1!1e3!4m5!3m4!1s0x71610bcda8e0b2b:0x65c87cb3b190a745!8m2!3d-12.9314658!4d-38.4187608"><img src="static/mapa.jpg" class="w3-image w3-greyscale-min" style="width:50%"></a>
</div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();
carousel2();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

function carousel2() {
  var i;
  var x = document.getElementsByClassName("myLogo");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel2, 200);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

window.watsonAssistantChatOptions = {
      integrationID: "cd650a17-873b-423c-8f7d-5458f730b53a", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "19dfed91-aac1-4306-a37e-c878bfe56117", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>

</body>
</html>
